# Скомпилированные файлы .NET и логи
bin/
obj/
*.log

# Файлы конфигурации (чтобы не слить пароль от базы данных в интернет!)
# Локальные настройки и секреты сервера
appsettings.Development.json
appsettings.Local.json
AuthController.cs
LeaderboardController.cs

# Настройки редакторов (VS Code, Visual Studio)
.vscode/
.vs/
*.user
*.userosscache
*.suo

# Системные файлы ОС
.DS_Store
Thumbs.db
идеи.txt